data/*.RData
data/*.xlsx

.Rproj.user
.Rhistory
.RData
.Ruserdata

results_all_data/H0_simulations/*.RData
results_all_data/itemsets_simul/*.RData
results_all_data/tests_variabilite_resultats/essai1/H0_simulations/*.RData
results_all_data/tests_variabilite_resultats/essai1/itemsets_simul/*.RData
results_all_data/tests_variabilite_resultats/essai2/H0_simulations/*.RData
results_all_data/tests_variabilite_resultats/essai2/itemsets_simul/*.RData

results_by_gender/results_women/H0_simulations/*.RData
results_by_gender/results_women/itemsets_simul/*.RData
results_by_gender/results_men/H0_simulations/*.RData
results_by_gender/results_men/itemsets_simul/*.RData

results_by_gender/results_sampled_women_size_men/rep*/H0_simulations/*.RData
results_by_gender/results_sampled_women_size_men/rep*/itemsets_simul/*.RData

results_by_gender/results_bs_men/rep*/H0_simulations/*.RData
results_by_gender/results_bs_men/rep*/itemsets_simul/*.RData

results_samples_2018_size/rep*/H0_simulations/*.RData
results_samples_2018_size/rep*/itemsets_simul/*.RData

results_bs_2018/rep*/H0_simulations/*.RData
results_bs_2018/rep*/itemsets_simul/*.RData
results_samples_regio_prop/rep*/H0_simulations/*.RData
results_samples_regio_prop/rep*/itemsets_simul/*.RData

results_by_age_class/results_under_65/rep*/H0_simulations/*.RData
results_by_age_class/results_under_65/rep*/itemsets_simul/*.RData

results_by_age_class/results_over_65/rep*/H0_simulations/*.RData
results_by_age_class/results_over_65/rep*/itemsets_simul/*.RData

results_by_age_class/results_bs_under_65/rep*/H0_simulations/*.RData
results_by_age_class/results_bs_under_65/rep*/itemsets_simul/*.RData
