data/*.RData
data/*.xlsx

.Rproj.user
.Rhistory
.RData
.Ruserdata

*/itemsets_simul/*.RData
*/H0_simulations/*.RData

*/*/itemsets_simul/*.RData
*/*/H0_simulations/*.RData


*/*/*/itemsets_simul/*.RData
*/*/*/H0_simulations/*.RData
